node_modules
dist
dist-*
target
src-tauri/target
.DS_Store
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.tauri
src-tauri/gen
